---
layout: page
title: IN MEMORIAM ADRIANO OLIVETTI
---
<!-- portfolio -->
<div class="container">
  <div class="row">
    <div class="col col-12" style="text-align: center">
      <h2>CONCERTO FLUXUS</h2>
      <p>In memoriam adriano olivetti2</p>
    <!--  <p><a href="https://vimeo.com/57788510/">vedi il video</a></p> -->
    </div>
  </div>
</div>

<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/57788510" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<p><a href="https://vimeo.com/57788510">In Memoriam to Adriano Olivetti - Ensemble METADIAPASON</a> from <a href="https://vimeo.com/user10517554">Metadiapason</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
